argument_specs:
  timeseer_setup:
    short_description: Configure and prepare Timeseer environment
    description:
      - Prepares directories and sets up Docker-related configurations for Timeseer.
      - Ensures necessary directories are in place and configures storage paths based on given conditions.

    options:
      timeseer_dir:
        description:
          - The base directory for Timeseer configurations and data.
        type: str
        default: "/opt/timeseer"

      timeseer_db_dir:
        description:
          - Directory for Timeseer database storage.
          - Used when Docker volume is not specified.
        type: str
        default: "/opt/timeseer"

      timeseer_docker_volume:
        description:
          - Optional Docker volume for Timeseer data storage.
          - If defined, it is used as the primary storage path.
        type: str
        default: ""

      timeseer_image:
        description:
          - The Docker image to use for Timeseer.
        type: str
        default: "container.timeseer.ai/timeseer"

      timeseer_config_dir:
        description:
          - Directory for custom Timeseer configuration files.
        type: str
        default: ""

      timeseer_volumes:
        description:
          - Extra volume mounts for the Timeseer container.
        type: list
        elements: "str"
        default: []

      timeseer_network:
        description:
          - Name of the Docker network to be used by Timeseer.
        type: str
        default: "timeseer"

      timeseer_journal_tag:
        description:
          - Tag to use for logging purposes in the Timeseer container.
        type: str
        default: "TIMESEER"

      timeseer_download_demo_data:
        description:
          - Whether to download demo data for Timeseer.
        type: bool
        default: false

      timeseer_ports:
        description:
          - "Custom port mapping for the timeseer container. Format should match Docker's port mapping format, e.g., '8080:8080'."
        type: str
        default: ""
